* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: 0.6s;
    box-shadow: 0 5px 15px rgba(0, 0,0, 0.06);
    background-color: transparent;
    z-index: 10000;
    color: #fff;
}

.navbar.sticky {
    background-color: #fff;
}

.navbar.sticky ul li a {
    color: #000;
}

.navbar a img {
    position: absolute;
    width: 200px;
    margin: 0 0 0 100px;
    padding: 0;
    top: 10px;
    left: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;

}


.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 100px;
}

.nav-link {
    transition: 0.7s ease;
}


.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #454545;
}

@media(max-width:968px){

    .navbar img {
        margin-left: 50px;
    }

    .hamburger{
        display: block;
        margin-right: 30px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        height: 300px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        color: #000;
        align-items: center;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .navbar {
        background-color: #fff;
    }

    .navbar ul li a {
        color: #000;
    }
}
